# How to complete this assignment
Complete 15 graded tasks below.

- Do not delete or rename the variables given before the inscription `#your code here`.
- Do not change the code in the last Notebook cell, it is required for the server check.

## Some important notes
- If you need to **calculate the number of "something"** that means we expect you to assign an Integer to the given variable
- If you need to **make a list of "something"** we expect you to assign a Python list with appropriate values to the given variable
- If you need to find a **specifi—Å player, day of the week, team, etc.** we expect you to assign a String with the full name of the entity to the given variable (`player_name`, day of week full name, `team_name`, etc.)

In [48]:
import pandas as pd
import numpy as np

pd.set_option('display.max_column', None)

In [49]:
player_data = pd.read_csv("player_data.csv", index_col="Unnamed: 0")

In [50]:
player_data.head()

,id,player_api_id,player_name,player_fifa_api_id,birthday,height,weight
0,1,505942,Aaron Appindangoye,218353,1992-02-29 00:00:00,182.88,187
1,2,155782,Aaron Cresswell,189615,1989-12-15 00:00:00,170.18,146
2,3,162549,Aaron Doran,186170,1991-05-13 00:00:00,170.18,163
3,4,30572,Aaron Galindo,140161,1982-05-08 00:00:00,182.88,198
4,5,23780,Aaron Hughes,17725,1979-11-08 00:00:00,182.88,154

**Task 1 (0.25 point).** Calculate the number of players with a height between 180 and 190 inclusive

In [51]:
players_180_190 = player_data[(player_data['height'] >= 180) & (player_data['height'] <= 190)].__len__()

**Task 2 (0.25 point).** Calculate the number of players born in 1980. <br>

In [52]:
# Convert the column with the date of birth to the datetime type for processing
player_data['birthday'] = pd.to_datetime(player_data['birthday'])

players_1980 = player_data[player_data['birthday'].dt.year == 1980].__len__()

**Task 3 (0.25 point).** Make a list of the top 10 players with the highest weight sorted in descending order. If there are several players with the same weight put them in the lexicographic order by name.

In [53]:
# Sort players by weight in descending order and by name in lexicographic order
sorted_players_weight = player_data.sort_values(by=['weight', 'player_name'], ascending=[False, True])

# We select the top 10 players with the highest weight
highest_players = sum(sorted_players_weight.head(10)[['player_name']].values.tolist(), [])

**Task 4 (0.5 point).** Make a list of tuples containing years along with the number of players born in that year from 1980 up to 1990. <br>
**Structure example**: [(1980, 123), (1981, 140) ..., (1990, 83)] -> There were born 123 players in 1980, there were born 140 players in 1981 and etc.

In [54]:
# Convert the column with the date of birth to the datetime type for processing
player_data['birthday'] = pd.to_datetime(player_data['birthday'])

# Filter players by year of birth from 1980 to 1990
players_1980_to_1990 = player_data[(player_data['birthday'].dt.year >= 1980) & (player_data['birthday'].dt.year <= 1990)]

# Group players by year of birth and count the number of players in each year
players_by_year = players_1980_to_1990.groupby(players_1980_to_1990['birthday'].dt.year).size().reset_index(name='count')

# Create a list of tuples with years and the number of players in those years
years_born_players = list(zip(players_by_year['birthday'], players_by_year['count']))

**Task 5 (0.5 point).** Calculate the mean and the standard deviation of the players' **height** with the name **Adriano**. <br>
**Note:** Name is represented by the first part of `player_name`.

In [55]:
# Filter players by name containing "Adriano"
adriano_players = player_data[player_data['player_name'].str.startswith('Adriano')]

# Calculate the mean and standard deviation of the height of players with the name "Adriano"
mean_height_adriano = adriano_players['height'].mean()
std_dev_height_adriano = adriano_players['height'].std()

adriano_mean, adriano_std = mean_height_adriano, std_dev_height_adriano

**Task 6 (0.75 point).** How many players were born on each day of the week? Find the day of the week with the minimum number of players born.

In [56]:
# Convert the column with the date of birth to the datetime type for processing
player_data['birthday'] = pd.to_datetime(player_data['birthday'])

# We get the day of the week for each birthday
player_data['day_of_week'] = player_data['birthday'].dt.day_name()

# Count the number of players for each day of the week
players_per_day_of_week = player_data.groupby('day_of_week').size().reset_index(name='count')

# Find the day of the week with the minimum number of players born on that day
dow_with_min_players_born = players_per_day_of_week[players_per_day_of_week['count'] == players_per_day_of_week['count'].min()]['day_of_week'].values[0]

**Task 7 (0.75 point).** Find a league with the most matches in total. If there are several leagues with the same amount of matches, take the first in the lexical order.

*Note*: Use league_data.csv and match_data.csv

In [57]:
league_data = pd.read_csv("league_data.csv", index_col="Unnamed: 0")
match_data = pd.read_csv("match_data.csv", index_col="Unnamed: 0")

In [58]:
league_data.head()

   league_id  country_id             league_name
0          1           1  Belgium Jupiler League
1       1729        1729  England Premier League
2       4769        4769          France Ligue 1
3       7809        7809   Germany 1. Bundesliga
4      10257       10257           Italy Serie A

In [59]:
match_data.head()

,id,country_id,league_id,season,stage,date,match_api_id,home_team_api_id,away_team_api_id,home_team_goal,away_team_goal,home_player_X1,home_player_X2,home_player_X3,home_player_X4,home_player_X5,home_player_X6,home_player_X7,home_player_X8,home_player_X9,home_player_X10,home_player_X11,away_player_X1,away_player_X2,away_player_X3,away_player_X4,away_player_X5,away_player_X6,away_player_X7,away_player_X8,away_player_X9,away_player_X10,away_player_X11,home_player_Y1,home_player_Y2,home_player_Y3,home_player_Y4,home_player_Y5,home_player_Y6,home_player_Y7,home_player_Y8,home_player_Y9,home_player_Y10,home_player_Y11,away_player_Y1,away_player_Y2,away_player_Y3,away_player_Y4,away_player_Y5,away_player_Y6,away_player_Y7,away_player_Y8,away_player_Y9,away_player_Y10,away_player_Y11,home_player_1,home_player_2,home_player_3,home_player_4,home_player_5,home_player_6,home_player_7,home_player_8,home_player_9,home_player_10,home_player_11,away_player_1,away_player_2,away_player_3,away_player_4,away_player_5,away_player_6,away_player_7,away_player_8,away_player_9,away_player_10,away_player_11,goal,shoton,shotoff,foulcommit,card,cross,corner,possession,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,LBH,LBD,LBA,PSH,PSD,PSA,WHH,WHD,WHA,SJH,SJD,SJA,VCH,VCD,VCA,GBH,GBD,GBA,BSH,BSD,BSA
0,1,1,1,2008/2009,1,2008-08-17 00:00:00,492473,9987,9993,1,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.73,3.40,5.00,1.75,3.35,4.20,1.85,3.2,3.5,1.80,3.3,3.75,NaN,NaN,NaN,1.70,3.30,4.33,1.90,3.3,4.00,1.65,3.40,4.50,1.78,3.25,4.00,1.73,3.40,4.20
1,2,1,1,2008/2009,1,2008-08-16 00:00:00,492474,10000,9994,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.95,3.20,3.60,1.80,3.30,3.95,1.90,3.2,3.5,1.90,3.2,3.50,NaN,NaN,NaN,1.83,3.30,3.60,1.95,3.3,3.80,2.00,3.25,3.25,1.85,3.25,3.75,1.91,3.25,3.60
2,3,1,1,2008/2009,1,2008-08-16 00:00:00,492475,9984,8635,0,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.38,3.30,2.75,2.40,3.30,2.55,2.60,3.1,2.3,2.50,3.2,2.50,NaN,NaN,NaN,2.50,3.25,2.40,2.63,3.3,2.50,2.35,3.25,2.65,2.50,3.20,2.50,2.30,3.20,2.75
3,4,1,1,2008/2009,1,2008-08-17 00:00:00,492476,9991,9998,5,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.44,3.75,7.50,1.40,4.00,6.80,1.40,3.9,6.0,1.44,3.6,6.50,NaN,NaN,NaN,1.44,3.75,6.00,1.44,4.0,7.50,1.45,3.75,6.50,1.50,3.75,5.50,1.44,3.75,6.50
4,5,1,1,2008/2009,1,2008-08-16 00:00:00,492477,7947,9985,1,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.00,3.50,1.65,5.00,3.50,1.60,4.00,3.3,1.7,4.00,3.4,1.72,NaN,NaN,NaN,4.20,3.40,1.70,4.50,3.5,1.73,4.50,3.40,1.65,4.50,3.50,1.65,4.75,3.30,1.67

In [60]:
# Combine match and league data using league_id
merged_data = pd.merge(match_data, league_data, on='league_id')

# Count the number of matches for each league
matches_per_league = merged_data['league_name'].value_counts().reset_index()
matches_per_league.columns = ['league_name', 'matches_count']

# Find the league with the most matches
league_most_matches = matches_per_league.sort_values(by=['matches_count', 'league_name'], ascending=[False, True]).iloc[0]['league_name']

**Task 8 (1.25 point).** Find a player who participated in the largest number of matches during the whole match history. Assign a `player_name` to the given variable (use match_data['home_player_N', 'away_player_N'])

In [61]:
# Uploading match and player data
match_data = pd.read_csv("match_data.csv", index_col="Unnamed: 0")
player_data = pd.read_csv("player_data.csv", index_col="Unnamed: 0")

# List of all columns that can contain player data
player_columns = ['home_player_1', 'home_player_2', 'home_player_3', 'home_player_4', 'home_player_5', 'home_player_6',
                  'home_player_7', 'home_player_8', 'home_player_9', 'home_player_10', 'home_player_11',
                  'away_player_1', 'away_player_2', 'away_player_3', 'away_player_4', 'away_player_5', 'away_player_6',
                  'away_player_7', 'away_player_8', 'away_player_9', 'away_player_10', 'away_player_11']

# Get player data from all columns
all_players = match_data[player_columns]

# Merge all columns with players into one
all_players_stacked = all_players.stack()

# Count the number of matches for each player
player_match_count = all_players_stacked.value_counts()

# Get the ID of the player with the most matches
player_with_most_matches_id = player_match_count.idxmax()

# Find the name of the player by his ID
max_matches_player = player_data.loc[player_data['player_api_id'] == player_with_most_matches_id]['player_name'].values[0]

**Task 9 (1.5 point).** List top-5 tuples of most correlated **player's characteristics** in the descending order of the absolute [Pearson's coefficient](https://en.wikipedia.org/wiki/Pearson_correlation_coefficient) value.

**Note 1:** Players characteristics are all the columns in `Player_Attributes` table except `[id, player_fifa_api_id, player_api_id, date, preferred_foot, attacking_work_rate, defensive_work_rate]`). <br>
**Note 2:** Exclude duplicated pairs from the list. E.g. ('gk_handling', 'gk_reflexes') and ('gk_reflexes', 'gk_handling') are duplicates, leave just one of them in the resulting list.

In [62]:
player_attributes = pd.read_csv('player_attributes.csv', index_col="Unnamed: 0")

In [63]:
player_attributes.head()

,id,player_fifa_api_id,player_api_id,date,overall_rating,potential,preferred_foot,attacking_work_rate,defensive_work_rate,crossing,finishing,heading_accuracy,short_passing,volleys,dribbling,curve,free_kick_accuracy,long_passing,ball_control,acceleration,sprint_speed,agility,reactions,balance,shot_power,jumping,stamina,strength,long_shots,aggression,interceptions,positioning,vision,penalties,marking,standing_tackle,sliding_tackle,gk_diving,gk_handling,gk_kicking,gk_positioning,gk_reflexes
0,1,218353,505942,2016-02-18 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
1,2,218353,505942,2015-11-19 00:00:00,67.0,71.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,71.0,70.0,45.0,54.0,48.0,65.0,69.0,69.0,6.0,11.0,10.0,8.0,8.0
2,3,218353,505942,2015-09-21 00:00:00,62.0,66.0,right,medium,medium,49.0,44.0,71.0,61.0,44.0,51.0,45.0,39.0,64.0,49.0,60.0,64.0,59.0,47.0,65.0,55.0,58.0,54.0,76.0,35.0,63.0,41.0,45.0,54.0,48.0,65.0,66.0,69.0,6.0,11.0,10.0,8.0,8.0
3,4,218353,505942,2015-03-20 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0
4,5,218353,505942,2007-02-22 00:00:00,61.0,65.0,right,medium,medium,48.0,43.0,70.0,60.0,43.0,50.0,44.0,38.0,63.0,48.0,60.0,64.0,59.0,46.0,65.0,54.0,58.0,54.0,76.0,34.0,62.0,40.0,44.0,53.0,47.0,62.0,63.0,66.0,5.0,10.0,9.0,7.0,7.0

In [64]:
# Loading data on player attributes
player_attributes = pd.read_csv('player_attributes.csv', index_col="Unnamed: 0")

# Selecting columns with player characteristics (except for unnecessary ones)
relevant_columns = [col for col in player_attributes.columns if col not in ['id', 'player_fifa_api_id', 'player_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate']]
player_characteristics = player_attributes[relevant_columns]

# Calculating the correlation between characteristics
correlation_matrix = player_characteristics.corr().abs()

# Getting the upper triangle of the correlation matrix (without diagonal)
upper_triangle = correlation_matrix.where(np.triu(np.ones(correlation_matrix.shape), k=1).astype(bool))

# Getting the top 5 correlated characteristics in the form of tuples
top_correlated_features = (upper_triangle.unstack().sort_values(ascending=False)).drop_duplicates().head(5).index.tolist()

**Task 10 (2 points).** Find top-5 most similar players to **Neymar** whose names are given. The similarity is measured as [Euclidean distance](https://en.wikipedia.org/wiki/Euclidean_distance) between vectors of players' characteristics (described in the task above). Put their names in a vector in ascending order by Euclidean distance and sorted by `player_name` if the distance is the same<br>
**Note 1:** There are many records for some players in the `Player_Attributes` table. You need to take the freshest data (characteristics with the most recent `date`). <br>
**Note 2:** Use pure values of the characteristics even if you are aware of such preprocessing technics as normalization. <br>
**Note 3:** Please avoid using any built-in methods for calculating the Euclidean distance between vectors, think about implementing your own.

In [65]:
# Load player data
player_data = pd.read_csv("player_data.csv", index_col="Unnamed: 0")
player_attributes = pd.read_csv('player_attributes.csv', index_col="Unnamed: 0")

# Filter Neymar's data and get the most recent characteristics
neymar_attributes = player_attributes[player_attributes['player_api_id'] == 30981].sort_values('date').iloc[-1]
neymar_characteristics = neymar_attributes.drop(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate'])

# Calculate Euclidean distance between Neymar and all other players
distances = {}
for index, player in player_attributes.iterrows():
    if player['player_api_id'] != 30981:  # Skip Neymar
        player_characteristics = player.drop(['id', 'player_fifa_api_id', 'player_api_id', 'date', 'preferred_foot', 'attacking_work_rate', 'defensive_work_rate'])
        # Calculate Euclidean distance
        distance = np.sqrt(np.sum((neymar_characteristics - player_characteristics) ** 2))
        distances[player['player_api_id']] = distance

# Sort players by distance and then by player_name if distances are the same
top_5_similar_players = sorted(distances.items(), key=lambda x: (x[1], player_data[player_data['player_api_id'] == x[0]]['player_name'].iloc[0]))

# Get top-5 player names
neymar_similarities = [player_data[player_data['player_api_id'] == player[0]]['player_name'].iloc[0] for player in top_5_similar_players[:5]]

neymar_similarities

['Abdeslam Ouaddou', 'Abel Gomez', 'Adam Johnson', 'Adam Rooney', 'Adil Chihi']

**Task 11 (1 point).** Calculate the number of home matches played by the **Borussia Dortmund** team in **Germany 1. Bundesliga** in season **2008/2009**

In [66]:
team_data = pd.read_csv('team_data.csv', index_col="Unnamed: 0")

In [67]:
team_data.head()

   id  team_api_id  team_fifa_api_id     team_long_name team_short_name
0   1         9987             673.0           KRC Genk             GEN
1   2         9993             675.0       Beerschot AC             BAC
2   3        10000           15005.0   SV Zulte-Waregem             ZUL
3   4         9994            2007.0   Sporting Lokeren             LOK
4   5         9984            1750.0  KSV Cercle Brugge             CEB

In [68]:
# Load team and match data
team_data = pd.read_csv('team_data.csv', index_col="Unnamed: 0")
match_data = pd.read_csv('match_data.csv', index_col="Unnamed: 0")

# Get Borussia Dortmund's team_api_id
team_id_dortmund = team_data[team_data['team_long_name'] == 'Borussia Dortmund']['team_api_id'].values[0]

# Filter matches for Borussia Dortmund in Germany 1. Bundesliga in season 2008/2009
matches_dortmund_germany = match_data[(match_data['league_id'] == 7809) & (match_data['season'] == '2008/2009')
                                      & ((match_data['home_team_api_id'] == team_id_dortmund) | (match_data['away_team_api_id'] == team_id_dortmund))]

# Count home matches played by Borussia Dortmund
borussia_bundesliga_2008_2009_matches = matches_dortmund_germany[matches_dortmund_germany['home_team_api_id'] == team_id_dortmund].__len__()

**Task 12 (1 point).** Find a team having the most matches (both home and away!) in the **Germany 1. Bundesliga** in **2008/2009** season. Return number of matches.

In [69]:
# Load team and match data
team_data = pd.read_csv('team_data.csv', index_col="Unnamed: 0")
match_data = pd.read_csv('match_data.csv', index_col="Unnamed: 0")

# Filter matches for Germany 1. Bundesliga in season 2008/2009
germany_bundesliga_matches = match_data[(match_data['league_id'] == 7809) & (match_data['season'] == '2008/2009')]

# Combine home and away matches for all teams
all_team_matches = pd.concat([germany_bundesliga_matches['home_team_api_id'], germany_bundesliga_matches['away_team_api_id']])

# Count the total matches played by each team
team_matches_count = all_team_matches.value_counts()

# Get the team with the most matches
team_with_most_matches = team_matches_count.idxmax()
num_matches_most_team = team_matches_count.max()

# Find the team's name from the team_data
team_most_matches_bundesliga_2008_2009 = team_data.loc[team_data['team_api_id'] == team_with_most_matches, 'team_long_name'].iloc[0]

**Task 13 (1 point).** Count total number of **Arsenal** matches (both home and away!) in the **2015/2016** season which they have won. <br><br>
**Note:** Winning a game means scoring **more** goals than an opponent.

In [70]:
# Load match data and team data
match_data = pd.read_csv('match_data.csv', index_col="Unnamed: 0")
team_data = pd.read_csv('team_data.csv', index_col="Unnamed: 0")

# Find Arsenal's team_api_id
arsenal_api_id = team_data[team_data['team_long_name'] == 'Arsenal']['team_api_id'].values[0]

# Filter matches for Arsenal in the 2015/2016 season
arsenal_matches_2015_2016 = match_data[((match_data['home_team_api_id'] == arsenal_api_id) | (match_data['away_team_api_id'] == arsenal_api_id))
                                       & (match_data['season'] == '2015/2016')]

# Count the matches where Arsenal won
arsenal_wins = arsenal_matches_2015_2016[(arsenal_matches_2015_2016['home_team_api_id'] == arsenal_api_id) & (arsenal_matches_2015_2016['home_team_goal'] > arsenal_matches_2015_2016['away_team_goal']) |
                                         (arsenal_matches_2015_2016['away_team_api_id'] == arsenal_api_id) & (arsenal_matches_2015_2016['away_team_goal'] > arsenal_matches_2015_2016['home_team_goal'])]

# Get the total number of matches won by Arsenal
arsenal_won_matches_2015_2016 = len(arsenal_wins)

**Task 14 (2 points).** Find a team with the highest win rate in the **2015/2016** season. Win rate means won matches / all matches. If there are several teams with the highest win rate return the first by name in lexical order

In [71]:
# Load match data and team data
match_data = pd.read_csv('match_data.csv', index_col="Unnamed: 0")
team_data = pd.read_csv('team_data.csv', index_col="Unnamed: 0")

# Filter matches for the 2015/2016 season
matches_2015_2016 = match_data[match_data['season'] == '2015/2016']

# Count the matches won by each team
home_wins = matches_2015_2016[matches_2015_2016['home_team_goal'] > matches_2015_2016['away_team_goal']]['home_team_api_id']
away_wins = matches_2015_2016[matches_2015_2016['away_team_goal'] > matches_2015_2016['home_team_goal']]['away_team_api_id']
won_matches = pd.concat([home_wins, away_wins])
won_matches_count = won_matches.value_counts()

# Count the total matches played by each team
total_matches = pd.concat([matches_2015_2016['home_team_api_id'], matches_2015_2016['away_team_api_id']])
total_matches_count = total_matches.value_counts()

# Calculate win rate for each team
win_rate = (won_matches_count / total_matches_count).fillna(0)

# Find the team with the highest win rate
team_with_highest_win_rate_id = win_rate[win_rate == win_rate.max()].sort_index().idxmax()

# Get the name of the team with the highest win rate
team_highest_winrate_2015_2016 = team_data[team_data['team_api_id'] == team_with_highest_win_rate_id]['team_long_name'].values[0]

**Task 15 (2 points).** Determine the team with the maximum days' gap between matches in **England Premier League 2010/2011 season**. Return number of days in that gap. <br>
**Note**: a *gap* means the number of days between two consecutive matches of the same team.

In [72]:
# Load data
league_data = pd.read_csv("league_data.csv", index_col="Unnamed: 0")
match_data = pd.read_csv("match_data.csv", index_col="Unnamed: 0")

# Filter data for England Premier League 2010/2011 season
eng_premier_matches_2010_2011 = match_data[(match_data['league_id'] == 1729) & (match_data['season'] == '2010/2011')]

# Combine home and away matches for each team
home_matches = eng_premier_matches_2010_2011.groupby('home_team_api_id')['date'].apply(lambda x: pd.to_datetime(x).diff().max())
away_matches = eng_premier_matches_2010_2011.groupby('away_team_api_id')['date'].apply(lambda x: pd.to_datetime(x).diff().max())

# Concatenate home and away matches
all_matches = pd.concat([home_matches, away_matches]).reset_index()

# Get the team with the maximum gap between matches
team_with_max_gap_id = all_matches.loc[all_matches['date'].idxmax()]['index']

# Find the maximum gap in days
highest_gap_england_2010_2011 = all_matches['date'].max().days

### Warning! Do not change anything in the area below

In [73]:
with open('student_answers.txt', 'w') as file:
    file.write(f"{players_180_190}\n")
    file.write(f"{players_1980}\n")
    file.write(f"{highest_players}\n")
    file.write(f"{years_born_players}\n")
    file.write(f"{round(adriano_mean, 3)} {round(adriano_std, 3)}\n")
    file.write(f"{dow_with_min_players_born}\n")
    file.write(f"{league_most_matches}\n")
    file.write(f"{max_matches_player}\n")
    file.write(f"{';'.join(['%s,%s' % tup for tup in top_correlated_features])};\n")
    file.write(f"{neymar_similarities}\n")
    file.write(f"{borussia_bundesliga_2008_2009_matches}\n")
    file.write(f"{team_most_matches_bundesliga_2008_2009}\n")
    file.write(f"{arsenal_won_matches_2015_2016}\n")
    file.write(f"{team_highest_winrate_2015_2016}\n")
    file.write(f"{highest_gap_england_2010_2011}\n")